 
/* font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Rammetto One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */
*{box-sizing: border-box;}

body{
    width: 1600px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 1600px;
    height: 737px;
    background-image: url(../img/background-header-img.png);
    margin: 0 auto;  
}

.header{
    max-width: 1600px;
    max-height: 116px;
    background: rgba(196, 196, 196, 0.1);
    margin: 0 auto;
    padding: 44px 200px 45px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    max-width: 980px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    line-height: 27px;   
    padding: 0;
}

.nav li{
    margin-left: 35px;
    margin-right: 35px; 
}

.nav li a{
    white-space: nowrap;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    color: #717784;
    transition: 0.4s;
}

.nav li a:hover{
    background: #9B9BCA;
    border-radius: 10px;
    width: 234px;
    height: 60px;
    padding: 16px 66px 17px 67px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
} 

.logo{
    max-width: 220px;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo_img{
    display: block;
    width: 72px;
    height: 72px;
    background-image: url(../img/icons/logo.svg);
    margin-right: 21px;
}

.logo_text{
    font-size: 22px;
    line-height: 26px;
    color: #505050;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.page-top{
    margin-top: 160px; 
    margin-bottom: 120px;
    margin-left: 200px;
}

.title-main{
    max-width: 548px;
    max-height: 112px;
    margin: 0;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    color: #696A86;
    
}

.text-main{
    max-width: 750px;
    max-height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #696A86;
}

.btn-get-started{
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: 234px;
    height: 60px;
    background: #9B9BCA;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
}

.btn-get-started:hover{
    background: #F01F35;
    border-radius: 10px;    
    cursor: pointer;
}


.page-services{
    max-width: 1600px;
    margin: 0 auto;
}

.title-services{
    max-width: 329px;
    margin: 100px auto 12px auto;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780; 
    text-align: center;
}

.text-services{
    max-width: 746px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
    text-align: center;
}

.services{  
    display: flex;
    width: 100%;
    max-width: 940px;
    margin: 100px auto;
}

.services-item{
    flex: 0 1 25%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.6s;
    margin-right: 5px;
}

.services-item:hover{
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
    border-radius: 5px;
}

.services_img{
    align-items: center;
    margin: 0 auto;
    max-width: 65px;
    max-height: 65px;  
}

.services_text{
    text-align: center;
} 

.services h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #626780;   
}

.services_link{
    text-decoration: none;
    color: #626780;
    transition: all 0.4s;
}

.services_link:hover{
    opacity: 0.8;
}

.services p{
    max-width: 228px;
    max-height: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;  
    color: #626780;
    display: flex;
    align-items: flex-end;
}

.page-demo{
    width: 1600px;
    height: 780px;
    background-image: url(../img/background-demo-img.png);
    margin: 0 auto;   
}

.text_demo{
    display: inline-block;
    max-width: 550px;
    max-height: 200px;
    margin-top: 120px; 
    margin-left: 297px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #000000;
}

.page-operation{
    max-width: 1600px;
    margin: 0 auto; 
}

.title_operation{
    max-width: 332px;
    margin: 100px auto 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.text_operation{
    max-width: 660px;
    margin: 0 auto 100px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #626780;
}

.wrap-operation{
    max-width: 1600px;
    display: flex;
    justify-content: center;
}

.box-customer{
    width: 442px;
    height: 545px;
    margin-right: 45px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.img_customer{
    width: 339px;
    height: 149px;
    border-radius: 10px; 
    margin: 60px 51px 48px 52px;
}

.title_customer{
    margin: 0;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    color: #000000;
}

.text_customer{
    font-family:'Poppins', sans-serif;
    font-weight: 400;   
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #626780;
    margin: 22px 48px 115px 48px;
}

.box-provider{
    width: 442px;
    height: 545px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 45px;
}

.img_provider{
    width: 339px;
    height: 149px;
    border-radius: 10px;
    margin: 60px 51px 48px 52px;
}

.title_provider{
    margin: 0;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    color: #000000;
}

.text_provider{
    font-family:'Poppins', sans-serif;
    font-weight: 400;   
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #626780;
    margin: 22px 48px 115px 48px;
}

.btn-operation{
    display: flex;
    justify-content:space-between;
    margin: -35px auto 0;
    width: 973px;
    padding: 0 100px;
}

.btn_customer{
    width: 234px;
    height: 60px;
    background: #9595C9;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    transition: all 0.4s;
}

.btn_customer:hover{
    background: #F01F35;
    border-radius: 10px;
    cursor: pointer;
}

.btn_provider{
    width: 234px;
    height: 60px;
   
    background: #9595C9;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    transition: all 0.4s;
}

.btn_provider:hover{
    background: #F01F35;
    border-radius: 10px;
    cursor: pointer;
}

.page-form{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.title_form{
    width: 910px;
    height: 67px;
    margin-top: 140px;
    margin-bottom: 100px;
    font-family: PT Serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    text-align: center;
    color: #402B2B;
}

.form{
    margin: 0 auto 132px;
    width: 708px;
    height: 566px;
    padding: 107px 135px 123px 173px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
    border-radius: 10px;
}

.name_text_field{
    margin: 0 0 10px 0;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #626780;
}

.name_input{
    width: 400px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #9595C9;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    padding-left: 40px;
    color: #9D9D9D;
}

.name_input:focus{
    outline: none;
    background: #FFFFFF;
    border: 2px solid #9595C9;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
}

.name_input:focus::placeholder{
    opacity: 0;
}

.pass_text_field{
    margin: 30px 0 10px 0;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #626780;
}

.pass_input{
    width: 400px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #9595C9;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    padding-left: 40px;
    color: #9D9D9D;
}

.pass_input:focus{
    outline: none;
    background: #FFFFFF;
    border: 2px solid #9595C9;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
}

.pass_input:focus::placeholder{
    opacity: 0;
}

.btn_sign-in{
    width: 220px;
    height: 60px;
    margin-top: 30px;
    background: #9595C9;
    border-radius: 5px;
    border: none;

    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.4s;
}

.btn_sign-in:hover{
    background: #F01F35;
    border-radius: 10px;
    cursor: pointer;
}

.text_sign-up{
    width: 337px;
    height: 40px;
    margin: 30px 0 0 0;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
    white-space: nowrap;
}

.sign_up{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
    transition: 0.4s;
}

.sign_up:hover{
    width: 400px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 40px;
    color: #dc1212;
}

.footer{
    max-width: 1600px;
    margin: 0 auto;
    background: #9B9BCA;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 842px;
    margin: 0 auto;
    padding: 56px 0 80px;
}

.footer_nav_title{
    display: flex;
    justify-self: flex-start;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer_nav a{
    display: flex;
    justify-self: start;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E6E6E6;
}

.footer_nav a:hover{
    text-decoration: underline;
}

.copyright-icon-logo{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1112px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.footer-copyright{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer_icon{
    margin-left: 257px;
}

.facebook_icon{
    padding-right: 30px;
}

.twitter_icon{
    padding-right: 30px;
}

.logo-footer{
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.logo-footer_text{}

.logo_footer_abbr{
    font-family: Rammetto One;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    
    color: #FFFFFF;
    padding-right: 8px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

/* @media (max-width: 1024px){
    .header{
        padding: 44px 90px 45px 170px;
    }
} */

/*@media (max-width: 1024px){
    .wrapper{
        max-width: 1024px;
    }
    .header{
        padding: 44px 80px 45px 100px;
    }
}

@media (max-width: 1024px){
    .nav li{
        margin-left: 15px;
        margin-right: 15px; 
    }
}

@media (max-width: 1024px){
    .page-top{
        margin-left: 150px;
    }
}

@media (max-width:1024px){
    .services{
        margin: 80px auto;
    }
}

@media (max-width: 1024px){
    .page-demo{
        max-width: 1024px;
    }
    .text_demo{
        margin-left: 100px;
    }
}



@media screen and (max-width::1024px){
    .footer{
        margin: 0 auto 300px;
    }
    .copyright-icon-logo{
        padding: 0 50px 45px;
    }
}

@media screen and (max-width:1024px){
    body{
        
        margin: 0 auto;
    }
}
*/